body {
    margin: 0;
    padding: 0;
    background-color: black;
}


#header p{
    color:white;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    margin-right: 10px; 
}


#header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:black;
    box-shadow : 0 0.2px 15px rgb(138, 145, 129);
    height: 70px;
    color: black;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
}


#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome p{
    font-size: 40px;
    font-weight: bold;
    font-family: arial;
    color: rgb(223, 223, 223);
}



#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 450px;
} 

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(59, 132, 107);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(59, 132, 107);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#facebook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: black;

}

#facebook strong{
    font-size: 28px ;
    color: greenyellow;
    font-family: arial;
    font-weight: bold;
}

#facebook .text{
    margin-left: 50px;
}
#facebook .image{
    margin-right: 20px;
}

#facebook p{
    font-size: 24px;
    font-family: arial;
    font-weight: bold; 
    color: white;
    width: 80%;
    padding: 20px;
}

#facebook button{
    background-color: #1877f2;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;

}
#facebook p button:hover{
    background-color:blue;
    transform: scale(1.05);
    color: white;
}


#facebook div img{
    width: 300px;
    height: 300px;
    padding: 10px;

}

.separator {
    height: 2px;
    background: linear-gradient(to right, transparent 10%, white 50%, transparent 90%);
    width: 100%;
    margin-top: 45px;
}

#instagram{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background-color: black;

}
#instagram .text{
    margin-left: 50px;
}
#instagram .image{
    margin-left: 20px;
}

#instagram p{
    font-size: 24px;
    font-family: arial;
    font-weight: bold; 
    color: white;
    width: 80%;
    padding: 20px;
}

#instagram button{
    background-color:rgba(252,79,21,255);
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;

}
#instagram p button:hover{
    background-color:rgba(255,173,0,255)
;
    transform: scale(1.05);
    color: white;
}


#instagram div img{
    width: 250px;
    height: 300px;
    padding: 10px;

}

#instagram strong{
    font-size: 28px ;
    color: greenyellow;
    font-family: arial;
    font-weight: bold;
}


#tiktok{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: black;

}

#tiktok strong{
    font-size: 28px ;
    color: greenyellow;
    font-family: arial;
    font-weight: bold;
}

#tiktok .text{
    margin-left: 50px;
}
#tiktok .image{
    margin-right: 20px;
}

#tiktok p{
    font-size: 24px;
    font-family: arial;
    font-weight: bold; 
    color: white;
    width: 80%;
    padding: 20px;
}

#tiktok button{
    background-color:white;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;


}
#tiktok p button:hover{
    background-color:white;
    transform: scale(1.05);
    color: black;
}


#tiktok div img{
    width: 300px;
    height: 300px;
    padding: 10px;

}


#twitter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background-color: black;

}
#twitter .text{
    margin-left: 50px;
}
#twitter .image{
    margin-left: 20px;
}

#twitter p{
    font-size: 24px;
    font-family: arial;
    font-weight: bold; 
    color: white;
    width: 80%;
    padding: 20px;
}

#twitter button{
    background-color:rgba(29,161,243,255);
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;

}
#twitter p button:hover{
    background-color:rgb(28,164,244);
    transform: scale(1.05);
    color: white;
}


#twitter div img{
    width: 250px;
    height: 300px;
    padding: 10px;

}

#twitter strong{
    font-size: 28px ;
    color: greenyellow;
    font-family: arial;
    font-weight: bold;
}

#youtube{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: black;

}

#youtube strong{
    font-size: 28px ;
    color: greenyellow;
    font-family: arial;
    font-weight: bold;
}

#youtube .text{
    margin-left: 50px;
}
#youtube .image{
    margin-right: 20px;
}

#youtube p{
    font-size: 24px;
    font-family: arial;
    font-weight: bold; 
    color: white;
    width: 80%;
    padding: 20px;
}

#youtube button{
    background-color: rgba(255,0,0,255) ;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;

}
#youtube p button:hover{
    background-color: rgba(255,0,0,255) ;
    transform: scale(1.05);
    color: white;
}


#youtube div img{
    width: 200px;
    height: 300px;
    padding: 10px;

}

#space{

    margin-top: 100px;

}




@media ( max-width: 1257px ) {
    #header {
        padding: 20px 40px; 
    }

    #navbar {
        padding-left: 10px; 
    }

    #navbar li {
        padding: 0 5px; 
    }

    #navbar li a {
        font-size: 14px; 
    }





}




@media ( max-width: 730px ) {

    #welcome p{
        font-size: 28px;
    }

    #facebook{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #instagram{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #tiktok{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #twitter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #youtube{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} 

@media ( max-width: 645px ) {
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 130px;

    }
    

    #name p{
        font-size: 38px;
        font-family: arial;
        font-weight: bold;
        padding-top: -4px;
        padding-bottom: 0;
    }

    #navbar{
        margin-top: -10px;
    }

    #navbar li a{
        font-size: 25px;
        font-family: arial;
        font-weight: 700;
        padding-bottom: 15px;
        
    }

    #welcome{
        margin-top: 20px;
    }

}
@media ( max-width: 568px ) {
    #name p{
        font-size: 28px;
        font-weight: bold;
        font-family: arial;
        margin-bottom: 60px;
    }
    #navbar li a{
        font-size: 18px;
        font-family: arial;
        font-weight: 700;

    }



}

@media ( max-width: 515px ) {
    #welcome p{
        font-size: 25px;
    }

}
@media ( max-width: 464px ) {
    #welcome p{
        font-size: 21px;
    }
}
